{% extends 'submain.html' %}

{% load static %}

{% block content %}

<style>
  h1 {
    text-align: center;
    color: #2c3e50;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  button {
    padding: 10px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #2980b9;
  }

  .error {
    color: red;
    font-weight: bold;
  }

  .img-container {
    text-align: center;
    margin-top: 20px;
  }

  .img1 {
    max-width: 60%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
  }

  .error-message {
    color: rgb(240, 43, 43);
    font-weight: bold;
    margin-top: 10px;
  }
</style>
<div class="bg">
  <h1 style="color:whitesmoke;font-size: 40px;text-align: center;padding-top: 3.5%;">Directory of ISO Certified Organizations from CQAL</h1>
</div>
<br>
<div class="container">
  <p style="color: #3498DB;font-size: larger;">Instructions:</p>
  <p style="color: #3498DB;font-size: larger;">If you would like to search for the status of ISO Audit for a specific Organization:</p>
  <ul>
    <li>Select Certificate Category</li>
    <li>Enter the certificate number without including any spaces in between.</li>
    <li>Click on “Submit” Button</li>
  </ul>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  
  <!-- Error message display -->
  {% if error_message %}
  <p class="error-message">{{ error_message }}</p>
  {% endif %}
  <br>
  <!-- Display certificate image if found -->
  {% if certificate_image %}
  <h2>Certificate:</h2>
  <img src="{{ certificate_image }}" alt="Certificate Image" class="img1">
  {% endif %}
</div>

{% endblock content %}
