{% extends 'submain.html' %}

{% load static %}

{% block content %}

<div class="bg">
    <h1 style="color:whitesmoke;font-size: 40px;text-align: center;padding-top: 3.5%;">Concept QA Labs Private Limited.</h1>
  </div>

  <div class="container">
    <h2 style="color: #2874A6;padding-top: 35px;">About Concept QA Labs</h2><br>
    <span style="font-size: 17px;" class="para">“Assist organizations for scaling towards highest quality and productivity levels
      through process excellence.”
      <br><br>
      Concept Quality Assurance Labs (CQAL) is established in the year 2004 with an objective of assisting worldwide
      industry towards scaling to process excellence by professionals having worked in significant roles in Quality
      management with some of the biggest Fortune500 companies.
      <br><br>
      CQAL is also assisting companies by providing trainings and appraisal services in CMMI, ISO and other Quality Standard Models.
      <br><br>
      CQAL is engaged by global industries for state of art services in the areas of Capability Maturity Model Integrated(CMMI), International Standards Organizations(ISO).</span>
  </div>

  <div class="container">
    <h2 style="color: #2874A6;padding-top: 35px;">Why to Choose CQAL ?</h2><br>
    <span style="font-size: 17px;" class="para">Because we know a good ISO 9001 when we see one would help you to gain the competitive advantage for sustainable growth of the organization. We have a proven track record, having worked with many companies globally, from small and medium sized businesses. CQAL’S ISO audits are performed as per proven Requirements of ISO/IEC 17021:2011 international standard.
      <br><br>
      CQAL lead Auditors who have decades of experience in helping businesses to understand the benefits of and how to implement ISO 9001 in an array of different sectors, so they understand your challenges. CQAL’s experienced assessors perform improvement appraisals against popular models like CMMI, ITILand Six Sigma. Improvement Appraisals are performed using popular methods like SCAMPI.
      <br><br>
      Our Auditors are strictly monitored and continually talk and listen to clients, asking them what they want and how satisfied they are with our products and services. Then provide trainings and evaluate to ensure the business process knowledge.
      <br><br>
      CQAL’s independent certification team is having experienced ISO and AS 9100C lead Auditors. Our lead Auditors can perform third party certification audits and can recommend to issue ISO certificates. Our lead Auditors ensure complete independence and highest quality with a great value add through audit services. Our certification body (CB) ISO certification services are fully accredited by ACCAB across the globe.</span>
  </div>



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p style="color: #444444;">Concepts QA Labs, Inc.<br>
                    Plot # 36, Srinivas Nagar Colony, ECIL Post, Hyderabad,<br>
                    Telangana. INDIA-500 062</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p style="color: #444444";>+ 1 703 953 1680</p>
                  <p style="color: #444444";>+ 91 9848013691</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p style="color: #444444">You can contact us through this E-mail ! </p>
                  <p><a href = "mailto:satish@conceptqalabs.com">satish@conceptqalabs.com</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p style="color: #444444";>Monday - Friday<br>9:30AM - 06:00PM</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->


      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

      
  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}