{% extends 'submain.html' %}

{% load static %}

{% block content %}
<div class="bg">
    <h1 style="color:whitesmoke;font-size: 40px;text-align: center;padding-top: 3.5%;">Process Appraisals</h1>
  </div>
  <br>
  <div class="container">
    <h2 style="color: #2874A6;padding-top: 10px;">Process Appraisals</h2><br>
    <span style="color: #566573;font-family: sans-serif;font-size: 18px;" class="para">Our Lead Appraisers can perform Appraisals in the areas of CMMI®, PCMM®, IT Service Management, ITIL® and Six Sigma. Some of our services include:
    </span>
  </div>
  <br>
  <div class="container">
    <span style="color: #566573;font-family: sans-serif;">
      <h3>
      CMMI® Gap analysis</h3><br>
      <h3>
        SCAMPISM
      </h3><br>
      <h3>
        SCAMPISM B
      </h3><br>
      <h3>
        SCAMPISM A
      </h3><br>
      <h3>
        Six Sigma Appraisal
      </h3><br>
      <h3>
        ITIL® appraisal
      </h3><br>
      <h3>
        PCMM® appraisal
      </h3><br>
      <h3>
        </svg>SCAMPISM is the Standard CMMI® Appraisal Method for Process Improvement
      </h3><br>
      <p style="color: #566573;font-family: sans-serif;font-size: 18px;"> CQAL is committed to bring excellent benchmarking through process assessments and appraisals.</p>
    </span>
    </div>
  </div>

  <div class="container-fluid">

    <div class="container-inner">
  
  
        <!-- Tab / Collapse Section -->
  
        <div class="tab-container">
  
            <!-- Tab 1 -->
  
            <div class="tab-accordian">
  
                <div class="titleWrapper inactive">
                    <h3>CMMI® GAP Analysis</h3>
  
                    <div class="collapse-icon">
                        <div class="acc-close"></div>
                        <div class="acc-open"></div>
                    </div>
                </div>
  
                <div id="descwrapper" class="desWrapper">
                    <p>The objective of gap analysis is to analyze the organizations’ processes and benchmark them with CMMI® model. The results of gap analysis will bring the existing gaps and CQAL assists organizations’ to initiate and implement action plans to close the gap by building processes.</p>
                </div>
  
            </div>
  
            <!-- Tab 2 -->
  
            <div class="tab-accordian">
  
                <div class="titleWrapper  inactive">
                    <h3>SCAMPISM Appraisals</h3>
  
                    <div class="collapse-icon">
                        <div class="acc-close"></div>
                        <div class="acc-open"></div>
                    </div>
                </div>
  
                <div id="descwrapper" class="desWrapper">
                    <p>CQAL’s SEI authorized SCAMPI Lead AppraisersSM perform SCAMPISM C, SCAMPISM B and SCAMPISM A Appraisals. SCAMPISM Appraisals are intended to assist organizations to find continuous process improvements,Through SCAMPISM A Appraisal organization’s Maturity/Capability Levels can be appraised with respect to CMMI® Models.</p>
                </div>
  
            </div>
  
            <!-- Tab 3 -->
  
            <div class="tab-accordian">
  
                <div class="titleWrapper inactive">
                    <h3>Six Sigma Appraisals</h3>
  
                    <div class="collapse-icon">
                        <div class="acc-close"></div>
                        <div class="acc-open"></div>
                    </div>
                </div>
  
                <div id="descwrapper" class="desWrapper">
                    <p>CQAL had developed Six Sigma appraisal methods through CQAL Authorized Appraisers conducts Six Sigma appraisal. Through this appraisal, the level and degree of institutionalization of Six Sigma practice is appraised and potential improvement opportunities are found out. The effectiveness levels are awarded on the basis of ROI and effectiveness of Six Sigma projects with respect to business goals and customer satisfaction. The appraisal methodology is in line with the triangular strategy of “Approach, Deployment and Results”.</p>
                </div>
  
            </div>
  
            <!-- Tab 4 -->
  
            <div class="tab-accordian">
  
                <div class="titleWrapper inactive">
                    <h3>ITIL® Appraisals</h3>
  
                    <div class="collapse-icon">
                        <div class="acc-close"></div>
                        <div class="acc-open"></div>
                    </div>
                </div>
  
                <div id="descwrapper" class="desWrapper">
                    <p>CQAL facilitates organizations to make significant improvements in the way they manage the services, relationships, processes, people and technologies required to deliver and support IT services and products with world class standards. CQAL’s methodology is based on the standards and processes described in the ITIL®. ITIL (IT Infrastructure Library) provides a framework of “best practice” guidance for IT Service Management and is the most widely used and accepted approach to IT Service Management in the world.</p>
                </div>
            </div>

            <br>

            <p style="color: #566573;font-family: sans-serif;font-size: 18px;"> Please visit our FAQs section for more information.</p>
            <p style="color: #566573;font-family: sans-serif;font-size: 18px;">** SCAMPI and SCAMPI Lead Appraisers are service marks of Carnegie Mellon University, Pittsburg, PA, USA</p>
            <p style="color: #566573;font-family: sans-serif;font-size: 18px;">** ITIL® is a Registered Trade Mark of the Office of Government Commerce (OGC).</p>


                <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p style="color: #444444">Concepts QA Labs, Inc.<br>
                    Plot # 36, Srinivas Nagar Colony, ECIL Post, Hyderabad,<br>
                    Telangana. INDIA-500 062</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p style="color: #444444">+ 1 703 953 1680</p>
                  <p style="color: #444444">+ 91 9848013691</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p style="color: #444444">You can contact us through this E-mail ! </p>
                  <p><a href = "mailto:satish@conceptqalabs.com">satish@conceptqalabs.com</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p style="color: #444444">Monday - Friday<br>9:30AM - 06:00PM</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->


            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

      
            <!-- Vendor JS Files -->
            <script src="{% static 'js/faq.js' %}"></script>


            <!-- Vendor JS Files -->
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
     
{% endblock content %}