.drop {
     display: block;
     background: #fff;
     transition: 0.3s;
     border-radius: 18px;
}

.drop {
     display: block;
     background: #fff;
     transition: 0.3s;
     border-radius: 18px;
}